

snippet myday "Day from 7 to 21"
## `LANG=ru_RU.utf8 date +%A`

7
7
8
8
9
9
10
10
11
11
12
12
13
13
14
14
15
15
16
16
17
17
18
18
19
19
20
20
21
21
endsnippet

snippet myweek "Current week"
# `LANG=ru_RU.utf8 date +%Y\ %W`н. Планы

${1:Предыдущая и следующяя недели}

* * * 

endsnippet

